<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Practice.CommonUtility.Listener"></listener>
</listeners>
  <test thread-count="5" name="Test1">
    <classes>
      <class name="practice.test.ProcedToCheckoutTest">
		  <methods>
			  <include name="verifyProductDisplayed"></include>
		  </methods>
		  </class>
    </classes>
    </test>
     <test thread-count="5" name="Test2">
    <classes>
      <class name="practice.test.VerifySearchTextBox">
		  <methods>
			  <include name="textBox"></include>
		  </methods>
		  </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
